.element__heart {
  background-image: url(../../../images/heart.svg);
  width: 22px;
  height: 19px;
  margin-right: 20px;
  align-self: center;
  cursor: pointer;
  border: 0;
  background-color: white;
}

.element__heart:hover {
  opacity: .5;
}