.profile__add {
  height: 22px;
  width: 22px;
  padding: 14px 64px;
  align-self: center;
  border: 1px solid #fff;
  grid-column: -1;
  justify-self: end;
  cursor: pointer;
}

.profile__add:hover {
  opacity: .6;
}

@media screen and (max-width: 640px) {
  .profile__add {
    margin-top: 36px;
  }
}