.profile__description {
  margin: 16px 0 0;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

@media screen and (max-width: 640px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}